.yun-form {
  --yun-form-label-font-size:var(--yun-font-size-base),
  --yun-form-content-font-size:var(--yun-font-size-base),
}
.yun-form-item {
  display: flex;
  margin-bottom: 18px;
  .yun-form-item__label {
    width: 150px;
    height: 32px;
    line-height: 32px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-end;
    font-size: var(--yun-form-label-font-size);
    color: var(--yun-text-color-regular);
  }
  .yun-form-item__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    line-height: 32px;
    font-size: var(--yun-form-content-font-size);
    min-width: 0;
    position: relative;
  }
  .yun-form-item__error-msg {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 2px;
    color: var(--yun-color-danger);
    font-size: 12px;
    line-height: 1;
  }
}
.yun-form-item.is-error .yun-input__wrapper {
  box-shadow: 0 0 0 1px var(--yun-color-danger) inset;
}
.yun-form-item.is-success .yun-input__wrapper {
  box-shadow: 0 0 0 1px var(--yun-color) inset;
}
.yun-form-item.is-required > .yun-form-item__label::before {
  content: "*";
  color: var(--yun-color-danger);
  margin-right: 4px;
}