:root {
  /* colors */
  --yun-color: #67b6b2;

  --yun-color-white: #ffffff;
  --yun-color-black: #000000;
  
  --yun-color-night-1-inner: #2b2b2b;
  --yun-color-night-2-border: #3e3e3e;

  --yun-color-info: #909399;
  --yun-color-info-light-3: #b1b3b8;  /* mix(#fff, #909399, 0.3) */
  --yun-color-info-light-5: #c8c9cc;  /* mix(#fff, #909399, 0.5) */
  --yun-color-info-light-7: #dfe0e1;  /* mix(#fff, #909399, 0.7) */
  --yun-color-info-light-9: #f2f2f3;  /* mix(#fff, #909399, 0.9) */
  --yun-color-info-light-8: #e6e6e7;  /* mix(#fff, #909399, 0.8) */
  --yun-color-info-dark-2: #73767a;   /* mix(#000, #909399, 0.2) */

    /* Primary */
    --yun-color-primary: #409EFF;
--yun-color-primary-light-3: #7ab8ff;  /* mix(#fff, #409EFF, 0.3) */
--yun-color-primary-light-5: #a6d1ff;  /* mix(#fff, #409EFF, 0.5) */
--yun-color-primary-light-7: #d2e8ff;  /* mix(#fff, #409EFF, 0.7) */
--yun-color-primary-light-9: #e8f3ff;  /* mix(#fff, #409EFF, 0.9) */
--yun-color-primary-light-8: #d9ecff;  /* mix(#fff, #409EFF, 0.8) */
--yun-color-primary-dark-2: #337acc;   /* mix(#000, #409EFF, 0.2) */

/* success 颜色组 */
--yun-color-success: #67C23A;
--yun-color-success-light-3: #95d46e;  /* mix(#fff, #67C23A, 0.3) */
--yun-color-success-light-5: #b3e09a;  /* mix(#fff, #67C23A, 0.5) */
--yun-color-success-light-7: #d1edc6;  /* mix(#fff, #67C23A, 0.7) */
--yun-color-success-light-9: #e8f6e3;  /* mix(#fff, #67C23A, 0.9) */
--yun-color-success-light-8: #ddf3d4;  /* mix(#fff, #67C23A, 0.8) */
--yun-color-success-dark-2: #529b2e;   /* mix(#000, #67C23A, 0.2) */

/* warning 颜色组 */
--yun-color-warning: #E6A23C;
--yun-color-warning-light-3: #edba6d;  /* mix(#fff, #E6A23C, 0.3) */
--yun-color-warning-light-5: #f3d09e;  /* mix(#fff, #E6A23C, 0.5) */
--yun-color-warning-light-7: #f9e7cf;  /* mix(#fff, #E6A23C, 0.7) */
--yun-color-warning-light-9: #fcf3e7;  /* mix(#fff, #E6A23C, 0.9) */
--yun-color-warning-light-8: #fbeedc;  /* mix(#fff, #E6A23C, 0.8) */
--yun-color-warning-dark-2: #b88230;   /* mix(#000, #E6A23C, 0.2) */

/* danger 颜色组 */
--yun-color-danger: #F56C6C;
--yun-color-danger-light-3: #f89898;  /* mix(#fff, #F56C6C, 0.3) */
--yun-color-danger-light-5: #fab5b5;  /* mix(#fff, #F56C6C, 0.5) */
--yun-color-danger-light-7: #fddada;  /* mix(#fff, #F56C6C, 0.7) */
--yun-color-danger-light-9: #feeded;  /* mix(#fff, #F56C6C, 0.9) */
--yun-color-danger-light-8: #fee5e5;  /* mix(#fff, #F56C6C, 0.8) */
--yun-color-danger-dark-2: #c45656;   /* mix(#000, #F56C6C, 0.2) */

  --yun-bg-color: #ffffff;
  --yun-bg-color-page: #f2f3f5;
  --yun-bg-color-overlay: #ffffff;
  --yun-text-color-primary: #303133;
  --yun-text-color-regular: #606266;
  --yun-text-color-secondary: #909399;
  --yun-text-color-placeholder: #a8abb2;
  --yun-text-color-disabled: #c0c4cc;
  --yun-border-color: #dcdfe6;
  --yun-border-color-light: #e4e7ed;
  --yun-border-color-lighter: #ebeef5;
  --yun-border-color-extra-light: #f2f6fc;
  --yun-border-color-dark: #d4d7de;
  --yun-border-color-darker: #cdd0d6;
  --yun-fill-color: #f0f2f5;
  --yun-fill-color-light: #f5f7fa;
  --yun-fill-color-lighter: #fafafa;
  --yun-fill-color-extra-light: #fafcff;
  --yun-fill-color-dark: #ebedf0;
  --yun-fill-color-darker: #e6e8eb;
  --yun-fill-color-blank: #ffffff;

  /* border */
  --yun-border-width: 1px;
  --yun-border-style: solid;
  --yun-border-color-hover: var(--yun-text-color-disabled);
  --yun-border: var(--yun-border-width) var(--yun-border-style) var(--yun-border-color);
  --yun-border-radius-base: 4px;
  --yun-border-radius-small: 2px;
  --yun-border-radius-round: 20px;
  --yun-border-radius-circle: 100%;

  /*font*/
  --yun-font-size-extra-large: 20px;
  --yun-font-size-large: 18px;
  --yun-font-size-medium: 16px;
  --yun-font-size-base: 14px;
  --yun-font-size-small: 13px;
  --yun-font-size-extra-small: 12px;
  --yun-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
  --yun-font-weight-primary: 500;

  /*disabled*/
  --yun-disabled-bg-color: var(--yun-fill-color-light);
  --yun-disabled-text-color: var(--yun-text-color-placeholder);
  --yun-disabled-border-color: var(--yun-border-color-light);
  
  /*animation*/
  --yun-transition-duration: .3s;
  --yun-transition-duration-fast: .2s;

  --yun-component-size-large: 43.2px;
  --yun-component-size:35px;
  --yun-component-size-small:28.8px;

}